<section class="panel shadow-panel">

    <header class="panel__header">

        <h2>Blood Pressure</h2>

        <button type="button" class="icon-button" aria-label="More Blood Pressure options">
            <i data-lucide="more-horizontal"></i>
        </button>

    </header>

    <div class="md-chart-wrap">

        <div class="md-chart-legend">

            <span>
                Last check-up:
                <b>{{ blood_pressure.last_checkup }}</b>
            </span>

            <span class="md-chart-legend__series">

                <span>
                    <i class="md-chart-legend__dot systolic"></i>
                    Systolic
                </span>

                <span>
                    <i class="md-chart-legend__dot diastolic"></i>
                    Diastolic
                </span>

                <span>
                    <i class="md-chart-legend__dot hr"></i>
                    Heart Rate
                </span>

            </span>

        </div>


        <div class="md-chart" data-blood-pressure-chart>

            <div class="md-chart__y-axis">
                <span>180</span>
                <span>145</span>
                <span>110</span>
                <span>75</span>
                <span>40</span>
            </div>


            <div class="md-chart__body">

                <div class="md-chart__grid">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>


                <svg class="md-chart__svg" viewBox="0 0 1200 280" preserveAspectRatio="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <polyline class="md-chart__line systolic" data-chart-line="systolic" fill="none"></polyline>

                    <polyline class="md-chart__line diastolic" data-chart-line="diastolic" fill="none"></polyline>

                    <polyline class="md-chart__line hr" data-chart-line="heart-rate" fill="none"></polyline>
                </svg>


                <div class="md-chart__points" data-chart-points></div>


                <div class="md-chart__months">

                    {% for reading in blood_pressure.monthly_readings %}

                    <span>
                        {{ reading.month }}
                    </span>

                    {% endfor %}

                </div>

            </div>

        </div>


        {{ blood_pressure.monthly_readings|json_script:"blood-pressure-data" }}

    </div>

</section>